#a{
    color: azure;
    text-align: center;
    background: url(451964.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 450px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    
}